<%- model_class = Restriction -%>
<% if FALSE %>
    <div class="page-header">
      <h1><%=t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => Restriction %></h1>
    </div>
    <%= render :partial => 'form' %>

<% else %>
ZUGANG VERWEIGERT
<% end %>