<% if current_user %>
    <% if current_user.role == "admin" %>
        <h4>Entwickler Optionen</h4>
        <div class="alert alert-info fade in">
          <p>Informationen zur Funktion "Zurücksetzen"</p>
            <ul>
              <li>Löschen aller Touren (Tours)</li>
              <li>Löschen aller Aufträge (Orders)</li>
              <li>Import der Testdaten (tmp/csv/*.csv)</li>
            </ul>
        </div>
        <%= button_to 'Zurücksetzen', developer_reset_database_path, method: :post %>
    <% end %>
<% end %>
