<%- model_class = User -%>
<% if current_user && (current_user.is_admin? || (current_user.is_superadmin? && current_user.company_id?))%>
  <% if current_user.company_id == @user.company_id%>
    <div class="page-header">
      <h1><%=t '.title', :default => [:'helpers.titles.edit', 'Edit %{model}'], :model => User %></h1>
    </div>
    <%= render :partial => 'form_edit' %>
  <% else %>
      <div class="alert alert-danger">Falsches Unternehmen!</div>
      ZUGANG VERWEIGERT
  <% end %>
<% else %>
  ZUGANG VERWEIGERT
<% end %>