<%- model_class = User -%>
<% if current_user && (current_user.is_admin? || current_user.is_superadmin?) %>
    <div class="page-header">
      <h1><%=t '.title', :default => [:'helpers.titles.new', 'New %{model}'], :model => User %></h1>
    </div>
    <%= render :partial => 'form' %>
<% else %>
  ZUGANG VERWEIGERT
<% end %>