<div class="page-header">
  <h1>Import von neuen Aufträgen</h1>
</div>
<p><b>Bitte wählen Sie die CSV-Datei aus, die sie importieren möchten:</b></p>
<form action="<%= confirm_order_import_path %>" class="order_import" enctype="multipart/form-data" method="post">
  <div style="display:none;">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  </div>
  <input accept=".csv" id="inputfile" name="file" type="file">
  <br>
  <button class="btn btn-primary btn-smart" disabled="disabled" id="upload-orders-btn" name="button" type="submit">
    <i class="fa fa-upload fa-1x"></i> <%= t('.upload_csv') %>
  </button>
</form>

