<div class="page-header">
  <h1><%=t '.title', :default => 'About smar_T' %></h1>
</div>
<br>
<br>
<p><%=t ('.hint') %></p>
<br>
<br>
<table class="table table-bordered">
<thead>
<tr>
<th><%= t ('.software') %></th>
<th><%=t ('.version')%></th>
</tr>
</tablehead>
<tbody>
<tr><td><a href="https://github.com/comfy/active_link_to">active_link_to</a></td><td>1.0.5</td></tr>


<tr><td><a href="https://github.com/sporkmonger/addressable">addressable</a></td><td>2.5.1</td></tr>


<tr><td><a href="https://github.com/mattbrictson/airbrussh">airbrussh</a></td><td>1.3.0</td></tr>


<tr><td><a href="https://github.com/rails/arel">arel</a></td><td>5.0.1.20140414130214</td></tr>


<tr><td><a href="https://github.com/ai/autoprefixer-rails">autoprefixer-rails</a></td><td>7.1.2.6</td></tr>


<tr><td><a href="https://github.com/codahale/bcrypt-rubybcrypt">bcrypt-rubybcrypt</a></td><td>3.1.11</td></tr>


<tr><td><a href="https://github.com/charliesome/better_errors">better_errors</a></td><td>2.4.0</td></tr>


<tr><td><a href="https://github.com/banister/binding_of_caller">binding_of_caller</a></td><td>0.7.2</td></tr>


<tr><td><a href="https://github.com/twbs/bootstrap-sass">bootstrap-sass</a></td><td>3.3.5</td></tr>


<tr><td><a href="https://github.com/doabit/bootstrap-sass-extras">bootstrap-sass-extras</a></td><td>0.0.7</td></tr>


<tr><td><a href="https://github.com/jimweirich/builder">builder</a></td><td>3.2.3</td></tr>


<tr><td><a href="https://github.com/deivid-rodriguez/byebug">byebug</a></td><td>9.0.6</td></tr>


<tr><td><a href="https://github.com/capistrano/capistrano">capistrano</a></td><td>3.9.0</td></tr>


<tr><td><a href="https://github.com/capistrano/bundler">bundler</a></td><td>1.2.0</td></tr>


<tr><td><a href="https://github.com/capistrano/passenger">passenger</a></td><td>0.2.0</td></tr>


<tr><td><a href="https://github.com/capistrano/railscapistrano-rails">railscapistrano-rails</a></td><td>1.3.0</td></tr>


<tr><td><a href="https://github.com/capistrano/rvmcapistrano-rvm">rvmcapistrano-rvm</a></td><td>0.1.2</td></tr>


<tr><td><a href="https://github.com/DavyJonesLocker/client_side_validations">client_side_validations</a></td><td>4.2.12</td></tr>


<tr><td><a href="https://github.com/DavyJonesLocker/client_side_validations-simple_form">client_side_validations-simple_form</a></td><td>3.4.0</td></tr>


<tr><td><a href="https://github.com/thoughtbot/climate_control">climate_control</a></td><td>0.2.0</td></tr>


<tr><td><a href="https://github.com/thoughtbot/cocaine">cocaine</a></td><td>0.5.8</td></tr>


<tr><td><a href="https://github.com/rubychan/coderay">coderay</a></td><td>1.1.1</td></tr>


<tr><td><a href="https://github.com/rails/coffee-rails">coffee-rails</a></td><td>4.0.1</td></tr>


<tr><td><a href="https://github.com/josh/ruby-coffee-script">ruby-coffee-script</a></td><td>2.4.1</td></tr>


<tr><td><a href="https://github.com/jerrydudziak/coffee-script-source">coffee-script-source</a></td><td>1.12.2</td></tr>


<tr><td><a href="https://github.com/jnunemaker/crack">crack</a></td><td>0.4.3</td></tr>


<tr><td><a href="https://github.com/banister/debug_inspector">debug_inspector</a></td><td>0.0.3</td></tr>


<tr><td><a href="https://github.com/plataformatec/devise">devise</a></td><td>4.3.0</td></tr>


<tr><td><a href="https://github.com/tigrish/devise-i18n">devise-i18n</a></td><td>1.2.0</td></tr>


<tr><td><a href="https://github.com/halostatue/diff-lcs">diff-lcs</a></td><td>1.3</td></tr>


<tr><td><a href="https://github.com/jeremyevans/erubi">erubi</a></td><td>1.7.0</td></tr>


<tr><td><a href="https://github.com/kwatch/erubis">erubis</a></td><td>2.7.0</td></tr>


<tr><td><a href="https://github.com/rails/execjs">execjs</a></td><td>2.7.0</td></tr>


<tr><td><a href="https://github.com/MoveTG/factory_girl">factory_girl</a></td><td>4.8.0</td></tr>


<tr><td><a href="https://github.com/thoughtbot/factory_bot_rails">factory_bot_rails</a></td><td>4.8.0</td></tr>


<tr><td><a href="https://github.com/stympy/faker">faker</a></td><td>1.8.4</td></tr>


<tr><td><a href="https://github.com/bokmann/font-awesome-rails">font-awesome-rails</a></td><td>4.7.0.2</td></tr>


<tr><td><a href="https://github.com/alexreisner/geocoder">geocoder</a></td><td>1.4.4</td></tr>


<tr><td><a href="https://github.com/apneadiving/Google-Maps-for-Rails">Google-Maps-for-Rails</a></td><td>2.1.2</td></tr>


<tr><td><a href="https://github.com/liufengyun/hashdiff">hashdiff</a></td><td>0.3.5</td></tr>


<tr><td><a href="https://github.com/sstephenson/hike">hike</a></td><td>1.2.3</td></tr>


<tr><td><a href="https://github.com/svenfuchs/i18n">i18n</a></td><td>0.8.6</td></tr>


<tr><td><a href="https://github.com/blurb/jquery-rails">jquery-rails</a></td><td>3.1.4</td></tr>


<tr><td><a href="https://github.com/flori/json">json</a></td><td>1.8.6</td></tr>


<tr><td><a href="https://github.com/janosch-x/js_regex">js_regex</a></td><td>1.2.3</td></tr>


<tr><td><a href="https://github.com/kaminari/kaminari">kaminari</a></td><td>1.1.1</td></tr>


<tr><td><a href="https://github.com/cowboyd/libv8">libv8</a></td><td>3.16.14.19</td></tr>


<tr><td><a href="https://github.com/mikel/mail">mail</a></td><td>2.5.5</td></tr>


<tr><td><a href="https://github.com/banister/method_source">method_source</a></td><td>0.8.2</td></tr>


<tr><td><a href="https://github.com/mime-types/ruby-mime-types">ruby-mime-types</a></td><td>1.25.1</td></tr>


<tr><td><a href="https://github.com/minad/mimemagic">mimemagic</a></td><td>0.3.0</td></tr>


<tr><td><a href="https://github.com/seattlerb/minitest">minitest</a></td><td>5.10.3</td></tr>


<tr><td><a href="https://github.com/flavorjones/mini_portile">mini_portile</a></td><td>2.3.0</td></tr>


<tr><td><a href="https://github.com/intridea/multi_json">multi_json</a></td><td>1.12.1</td></tr>


<tr><td><a href="https://github.com/net-ssh/net-scp">net-scp</a></td><td>1.2.1</td></tr>


<tr><td><a href="https://github.com/net-ssh/net-ssh">net-ssh</a></td><td>4.1.0</td></tr>


<tr><td><a href="https://github.com/sparklemotion/nokogiri">nokogiri</a></td><td>1.8.1</td></tr>


<tr><td><a href="https://github.com/ianwhite/orm_adapter">orm_adapter</a></td><td>0.5.0</td></tr>


<tr><td><a href="https://github.com/thoughtbot/paperclip">paperclip</a></td><td>4.3.7</td></tr>


<tr><td><a href="https://github.com/mlomnicki/polyglot">polyglot</a></td><td>0.3.5</td></tr>


<tr><td><a href="https://github.com/pry/pry">pry</a></td><td>0.10.4</td></tr>


<tr><td><a href="https://github.com/rweng/pry-rails">pry-rails</a></td><td>0.3.6</td></tr>


<tr><td><a href="https://github.com/weppos/publicsuffix-ruby">publicsuffix-ruby</a></td><td>2.0.5</td></tr>


<tr><td><a href="https://github.com/rack/rack">rack</a></td><td>1.5.5</td></tr>


<tr><td><a href="https://github.com/rack-test/rack-test">rack-test</a></td><td>0.6.3</td></tr>


<tr><td><a href="https://github.com/rails/rails">rails</a></td><td>4.1.4</td></tr>


<tr><td><a href="https://github.com/svenfuchs/rails-i18n">rails-i18n</a></td><td>4.0.9</td></tr>


<tr><td><a href="https://github.com/alexkpek/rails-jquery-ui-sortable">rails-jquery-ui-sortable</a></td><td>1.11.4</td></tr>


<tr><td><a href="https://github.com/rails/railsrailties">railsrailties</a></td><td>4.1.4</td></tr>


<tr><td><a href="https://github.com/ruby/rake">rake</a></td><td>12.0.0</td></tr>


<tr><td><a href="https://github.com/ruby/rdoc">rdoc</a></td><td>4.3.0</td></tr>


<tr><td><a href="https://github.com/ruby-concurrency/ref">ref</a></td><td>2.0.0</td></tr>


<tr><td><a href="https://github.com/ammar/regexp_parser">regexp_parser</a></td><td>0.4.4</td></tr>


<tr><td><a href="https://github.com/plataformatec/responders">responders</a></td><td>1.1.2</td></tr>


<tr><td><a href="https://github.com/rspec/rspec-core">rspec-core</a></td><td>3.6.0</td></tr>


<tr><td><a href="https://github.com/rspec/rspec-expectations">rspec-expectations</a></td><td>3.6.0</td></tr>


<tr><td><a href="https://github.com/rspec/rspec-mocks">rspec-mocks</a></td><td>3.6.0</td></tr>


<tr><td><a href="https://github.com/rspec/rspec-rails">rspec-rails</a></td><td>3.6.1</td></tr>


<tr><td><a href="https://github.com/rspec/rspec-support">rspec-support</a></td><td>3.6.0</td></tr>


<tr><td><a href="https://github.com/dtao/safe_yaml">safe_yaml</a></td><td>1.0.4</td></tr>


<tr><td><a href="https://github.com/sass/sass">sass</a></td><td>3.2.19</td></tr>


<tr><td><a href="https://github.com/rails/sass-rails">sass-rails</a></td><td>4.0.5</td></tr>


<tr><td><a href="https://github.com/frenesim/schema_to_scaffold">schema_to_scaffold</a></td><td>0.8.0</td></tr>


<tr><td><a href="https://github.com/zzak/sdoc">sdoc</a></td><td>0.4.2</td></tr>


<tr><td><a href="https://github.com/plataformatec/simple_form">simple_form</a></td><td>3.5.0</td></tr>


<tr><td><a href="https://github.com/leejarvis/slop">slop</a></td><td>3.6.0</td></tr>


<tr><td><a href="https://github.com/rails/spring">spring</a></td><td>1.7.2</td></tr>


<tr><td><a href="https://github.com/rails/sprockets">sprockets</a></td><td>2.12.4</td></tr>


<tr><td><a href="https://github.com/rails/sprockets-rails">sprockets-rails</a></td><td>2.3.3</td></tr>


<tr><td><a href="https://github.com/qoobaa/sqlite3">sqlite3</a></td><td>1.3.13</td></tr>


<tr><td><a href="https://github.com/capistrano/sshkit">sshkit</a></td><td>1.14.0</td></tr>


<tr><td><a href="https://github.com/cowboyd/therubyracer">therubyracer</a></td><td>0.12.3</td></tr>


<tr><td><a href="https://github.com/erikhuda/thor">thor</a></td><td>0.20.0</td></tr>


<tr><td><a href="https://github.com/ruby-concurrency/thread_safe">thread_safe</a></td><td>0.3.6</td></tr>


<tr><td><a href="https://github.com/rtomayko/tilt">tilt</a></td><td>1.4.1</td></tr>


<tr><td><a href="https://github.com/nathansobo/treetop">treetop</a></td><td>1.4.15</td></tr>


<tr><td><a href="https://github.com/turbolinks/turbolinks-classic">turbolinks-classic</a></td><td>5.0.1</td></tr>


<tr><td><a href="https://github.com/turbolinks/turbolinks-source-gem">turbolinks-source-gem</a></td><td>5.0.3</td></tr>


<tr><td><a href="https://github.com/tzinfo/tzinfo">tzinfo</a></td><td>1.2.3</td></tr>


<tr><td><a href="https://github.com/tzinfo/tzinfo-data">tzinfo-data</a></td><td>1.2017.2</td></tr>


<tr><td><a href="https://github.com/lautis/uglifier">uglifier</a></td><td>3.2.0</td></tr>


<tr><td><a href="https://github.com/mdespuits/validates_formatting_of">validates_formatting_of</a></td><td>0.9.0</td></tr>


<tr><td><a href="https://github.com/hassox/warden">warden</a></td><td>1.2.7</td></tr>


<tr><td><a href="https://github.com/bblimke/webmock">webmock</a></td><td>3.0.1</td></tr>


<tr><td><a href="https://github.com/mileszs/wicked_pdf">wicked_pdf</a></td><td>1.1.0</td></tr>


<tr><td><a href="https://github.com/zakird/wkhtmltopdf_binary_gem">wkhtmltopdf_binary_gem</a></td><td>0.12.3.1</td></tr>

</tablebody>

</table>
