<div class="page-header">
  <h1><%=t '.title', :default => 'About smar_T' %></h1>
</div>
<br>
<br>
<p><%=t ('.hint') %></p>
<br>
<br>
<table class="table">
<tablehead>
<tr>
<td><%= t ('.name') %></td>
<td><%=t ('.website')%></td>
</tr>
</tablehead>
<tablebody>
</tablebody>

</table>
