.sortable tr {
  cursor: pointer;
}

body,html{
  height: 100%;
}

nav.sidebar, .main{
  -webkit-transition: margin 200ms ease-out;
  -moz-transition: margin 200ms ease-out;
  -o-transition: margin 200ms ease-out;
  transition: margin 200ms ease-out;
}

.main{
  padding: 10px 10px 0 10px;
}

.page-header {
  margin-bottom: 5px;
}

@media (min-width: 765px) {

  #page-wrapper{
    margin: 0 0 0 210px;
    padding: 15px 30px;

  }

  .main{
    position: absolute;
    width: calc(100% - 40px);
    margin-left: 40px;
    float: right;
  }

  nav.sidebar:hover + .main{
    margin-left: 210px;
  }

  nav.sidebar .navbar-brand, nav.sidebar .navbar-header{
    text-align: center;
    width: 100%;
    margin-left: 0px;
  }

  nav.sidebar a{
    padding-right: 13px;
  }

  nav.sidebar .navbar-nav > li:first-child{
    border-top: 0px #e5e5e5 solid;
    width: 210px;
  }

  nav.sidebar .navbar-nav > li{
    border-bottom: 0px #e5e5e5 solid;
  }

  nav.sidebar .navbar-collapse, nav.sidebar .container-fluid{
    padding: 0 0px 0 0px;
  }

  .navbar-inverse .navbar-nav .open .dropdown-menu>li>a {
    color: #777;
  }

  nav.sidebar{
    width: 210px;
    min-height: calc(100%);
    float: left;
    margin-bottom: 0px;
    position:fixed;
    margin-left: 0px;
  }

  nav.sidebar li {
    width: 100%;
  }

  .forAnimate{
    opacity: 0;
  }
}

@media (min-width: 1330px) {

  .main{
    width: calc(100% - 210px);
    margin-left: 210px;
  }

  nav.sidebar .forAnimate{
    opacity: 1;
  }
}

nav.sidebar .navbar-nav .open .dropdown-menu>li>a:hover, nav.sidebar .navbar-nav .open .dropdown-menu>li>a:focus {
  color: #CCC;

}

nav:hover .forAnimate{
  opacity: 1;
}
section{
  padding-left: 15px;
}


/* Remove the space between Top-Bar and Sidebar, remove rounded edges from sidebar */

.navbar{

  margin-bottom: 0px;
  border-radius: 0px;


}

/*Bold smar_T*/

.navbar-brand{

  background-color: #3792d5;
  height: 100%;
  width: 210px;
  text-align: center;
  max-height: 50px;
  padding-top: 10px;
}

/*Logo properties*/

.navbar-brand > img{

  display: inline;
  max-width: none;
  width: 80px;
  filter:invert(100%);

}

/*Navbar icon properties*/

.nav > li > a > img{
  margin-right: 15px;
  height: 30px;
  opacity: 0.75;
  filter:invert(100%);
}

/*Bold navbar Text*/

.nav > li > a{
  font-weight:bold;
}


/*Adds space between logo and first list-element*/
nav.sidebar .navbar-nav > li:first-child{
  margin-top: 15px;
}

/* Adjustments for fixed Top-Navigation */

body{

  padding-top: 50px;

}

.navbar-right {
  float: right !important;
  margin-right: 0px;

  .dropdown-toggle{
    padding: 10px 15px;

    .caret{
      margin-left: 5px;
    }

    .account-icon {
      margin: 0px;
      filter: none;
      margin-right: 5px;
    }
  }
}

/*Set color of sidebar to gray*/

.navbar.navbar-default.sidebar{

  background-color: #494d55;

}

.navbar {

  border: 0px solid transparent;
}

/* White text color on sidebar */

.navbar-default.sidebar .navbar-nav > li > a {
  color: white;
  opacity: 0.75;
}

/*Apply hover effect on navigation elements*/

.navbar-default.sidebar .navbar-nav > li > a:hover {
  opacity: 1;
  border-right: 6px solid #3792d5;
  background-color: #3a3d44;
}


.navbar-default.sidebar .navbar-nav > li > a.active {
  opacity: 1;
  border-right: 6px solid #3792d5;
  background-color: #3a3d44;
}

/*Disabled logo hover effect*/

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  background-color: #3792d5;
}

.btn.btn-xs{
  color: white;
}

.btn.btn-primary{
  color: #333333;
  background-color: white;
  border-color: #cccccc;
}

.btn.btn-primary:hover{
  color: #333333;
  background-color: #e6e6e6;
  border-color: #adadad;
}

/* Autocompletion fields */

.twitter-typeahead {
  width: 100%;
}

.table th.center, .table td.center {
  text-align: center;
}

.table th {
  vertical-align: top !important;
}

.btn-smart {
  background-color: #3792d5 !important;
  color: white !important;
}

.active_circle_true, .active_circle_false {
  width: 20px;
  height: 20px;
  background: green;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  margin: auto;
}

.active_circle_false {
  background: gray;
}

.locked_icon {
  margin-left: 5px;
  margin-top: -4px;
}

.hidden {
  display: none;
}

#driver{
  border: 1px solid #cccccc;
  border-radius: 4px;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

#driver_heading{
  background-color: #f9f9f9;
  padding-bottom: 10px;
  margin-bottom: 10px;
  padding-top: 10px;
  border-bottom: 1px solid #cccccc;
  margin-left: -10px;
  margin-right: -10px;
  padding-left: 10px;
}

#working_time_heading{
  margin-bottom: 10px;
}

.order_status_filter, .tour_status_filter {
  margin-right: 20px;
}

/*Make font awesome icons larger*/
.fa.fa-search-plus, .fa.fa-pencil, .fa.fa-trash, .fa.fa-info-circle{
  font-size: 15px;
}

.tour-details {
  margin: 5px;
}

.page-nav {
  width: 100%;
  text-align: center;
  font-weight: bold;
  font-size: 1.1em;
}

.order-details {
  a {
    cursor: auto;
  }
  a:link {
    color: #0000EE;
  }
  a:hover {
    background-color: #ffffff;
  }
  a:visited {
    color: #551A8B;
  }
}

.table-striped > tbody > .highlight > td {
    background-color: #f2dede;
}

.pagination {
  a:link, a:visited, a:hover, a:focus, a:active, a:active:hover {
    background-color: white;
    font-weight: normal;
    font-size: 1.0em;
    color: #333;
  }
}

.pagination .page.current {
  font-weight: bold;
  font-size: 1.3em;
  color: black;
}

.print-document {
  font-size: 12px;
  word-wrap:break-word;
}